@using System.Linq;

@model Catalog.Business.FilterProduct

@{
    ViewData["Title"] = "Browse";
}
<!-- Header -->
<div class="product-page">
    <div class="header-cover">
        <div class="page-header header-small browse-header-custom" data-parallax="true">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <!-- Caption -->
                        <div class="brand">
                            <h1 class="title"><span class="highlight-header-text">Passion</span> Collection.</h1>
                            <h3>Explore the secret ways of <b>pleasure</b>.</h3>
                            
                        </div>
                        <!-- End Caption -->

                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End Header -->

<div class="main">
    <div class="section">
        <div class="container">
            <h2 class="section-title">Latest Offers</h2>
            <div class="row">

                <!-- Latest Offers Card -->
                @foreach (var item in Model.LatestOffer)
                {
                    <div class="col-md-4">

                        <!-- Card -->
                        <div class="card card-product card-plain card-rotate" style="min-height: 700px;">

                            <!-- Image Card -->
                            <div class="rotating-card-container">
                                <div class="card-image">

                                    <!-- Front side -->
                                    <div class="front">
                                        <img class="img" src="@Html.DisplayFor(modelItem => item.image)" style="max-height: 500px; object-fit: cover;" />
                                    </div>
                                    <!-- End Front Side-->
                                    <!-- Back Side -->
                                    <div class="back back-background">
                                        <div class="card-content">

                                            <!-- Instruction - Quick actions -->
                                            <h5 class="card-title">
                                                Quick Actions...
                                            </h5>
                                            <!-- End Instruction -->
                                            <!-- Buttons - Details, Add to basket -->
                                            <div class="footer text-center">
                                                <a asp-area="" asp-controller="Item" asp-action="Item" asp-route-id="@item.id_pr" class="btn btn-round btn-white">
                                                    <i class="material-icons">info</i> Details
                                                </a>
                                            </div>
                                            <!-- End Buttons -->

                                            <hr />

                                            <!-- Share -->
                                            <p class="card-description">
                                                You can share this product with your friends...
                                            </p>

                                            <!-- Share buttons - Facebook, pinterest, twitter -->
                                            <a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-twitter">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-pinterest">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-facebook">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <!-- End Share buttons-->
                                            <!-- End Share -->

                                        </div>
                                    </div>
                                    <!-- End Back Side -->

                                </div>
                            </div>
                            <!-- End Image Card -->
                            <!-- Card Content-->
                            <div class="card-content" style="position: absolute; bottom: 0; width: 100%;">

                                <!-- Name -->
                                <h4 class="card-title">
                                    <a href="#pablo">@Html.DisplayFor(modelItem => item.name)</a>
                                </h4>
                                <!-- End Name -->
                                <!-- Brand -->
                                <p class="card-description">
                                    <b>@Html.DisplayFor(modelItem => item.firm)</b>
                                </p>
                                <!-- End Brand -->
                                <!-- Footer -->
                                <div class="footer">
                                    <div class="price-container">
                                        <span class="price price-new"> &euro;@Html.DisplayFor(modelItem => item.price)</span>
                                    </div>
                                    <div class="stats">
                                        <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-simple btn-warning" data-original-title="Saved to Wishlist">
                                            <i class="material-icons">favorite</i>
                                        </button>
                                    </div>
                                </div>
                                <!-- End Footer -->

                            </div>
                            <!-- End Card Content -->

                        </div>
                        <!-- End Card -->

                    </div>
                }
                <!-- End Latest Offers Card -->

            </div>
        </div>
    </div><!-- section -->
    <!-- Find what you need section -->
    
        <form id="Catalog-Browse-form" asp-controller="Catalog" asp-action="Browse" method="post">
            <div class="section">
                <div class="container">
                    <h2 class="section-title">Find what you need</h2>
                    <div class="row">

                        <!-- Filter -->

                        <div class="col-md-3">
                            <div class="card card-refine card-plain">
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Filter
                                        <a asp-controller="Catalog" asp-action="Browse" class="btn btn-default btn-fab btn-fab-mini btn-simple pull-right" title="Reset Filter">
                                            <i class="material-icons">cached</i>
                                        </a>
                                    </h4>
                                    
                                    <!-- Sort -->
                                    <div class="panel panel-default panel-rose">
                                        <div class="panel-heading" role="tab" id="sort">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSort" aria-expanded="false" aria-controls="collapseSort">
                                                <h4 class="panel-title">Items per Page<i class="material-icons">keyboard_arrow_down</i></h4>
                                            </a>
                                        </div>
                                        <div id="collapseSort" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sort">
                                            <div class="panel-body text-center">
                                                <input type="hidden" asp-for="@Model.ItemsPerPage"/>
                                                <button class="btn btn-default btn-simple btn-round" type="submit" name="itemsPage" value="9">9</button>
                                                <button class="btn btn-default btn-simple btn-round" type="submit" name="itemsPage" value="27">27</button>
                                                <button class="btn btn-default btn-simple btn-round" type="submit" name="itemsPage" value="69">69</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Sort -->

                                    <!-- Price Range -->
                                    <div class="panel panel-default panel-rose">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <h4 class="panel-title">Price Range<i class="material-icons">keyboard_arrow_down</i></h4>
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body panel-refine text-center">
                                                <span id="price-left" class="price-left pull-left" data-currency="&euro;" asp-for="minPrice">@Model.minPrice</span>
                                                <span id="price-right" class="price-right pull-right" data-currency="&euro;">850</span>
                                                <div class="clearfix"></div>
                                                <div id="sliderRefine" class="slider slider-warning"></div>
                                                <input type="hidden" asp-for="@Model.SortHigh"/>
                                                <input type="hidden" asp-for="@Model.SortLow" />
                                                <button class="btn btn-default btn-simple" type="submit" name="SortFromLow" value="2">Most Affordable</button>
                                                <button class="btn btn-default btn-simple" type="submit" name="SortFromHigh" value="2">Most Expensive</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Price Range -->

                                    <!-- Company/Brand -->

                                    <div class="panel panel-default panel-rose">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <h4 class="panel-title">Brand<i class="material-icons">keyboard_arrow_down</i></h4>

                                            </a>
                                        </div>


                                        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body">
                                            @{
                                                for (int i = 0; i < Model.Firms.Count(); i++)
                                                {
                                                    <div class="checkbox">
                                                        <label>
                                                            <input asp-for="@Model.Firms[i].checkboxAnswer" type="checkbox" />
                                                            @Model.Firms[i].name
                                                            <input asp-for="@Model.Firms[i].id_fir" type="hidden" />
                                                            <input asp-for="@Model.Firms[i].name" type="hidden" />
                                                        </label>
                                                        <br />
                                                    </div>
                                                }
                                            }
                                            </div>
                                        </div>

                                        <!-- End Company/Brand -->
                                        <!-- Size -->
                                        <div class="panel-heading" role="tab" id="headingFive">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                <h4 class="panel-title">Size<i class="material-icons">keyboard_arrow_down</i></h4>
                                            </a>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                            <div class="panel-body">
                                                    @{
                                                        for (int i = 0; i < Model.Sizes.Count(); i++)
                                                        {
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input asp-for="@Model.Sizes[i].checkboxAnswer" type="checkbox" />
                                                                    UK @Model.Sizes[i].uk - US @Model.Sizes[i].us_wo - EU @Model.Sizes[i].euro
                                                                    <input asp-for="@Model.Sizes[i].id_si" type="hidden" />
                                                                    <input asp-for="@Model.Sizes[i].uk" type="hidden" />
                                                                </label>
                                                                <br />
                                                            </div>
                                                        }
                                                    }
                                            </div>
                                        </div>
                                        <!-- End Size -->
                                        <!-- Color/Colour -->
                                        <div class="panel-heading" role="tab" id="headingSix">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
                                                <h4 class="panel-title">Colour<i class="material-icons">keyboard_arrow_down</i></h4>
                                            </a>
                                        </div>
                                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                            <div class="panel-body">
                                                @{
                                                    for (int i = 0; i < Model.Colours.Count(); i++)
                                                    {
                                                        <div class="checkbox">
                                                            <label>
                                                                <input asp-for="@Model.Colours[i].checkboxAnswer" type="checkbox" />
                                                                @Model.Colours[i].name
                                                                <input asp-for="@Model.Colours[i].rgb" type="hidden" />
                                                                <input asp-for="@Model.Colours[i].name" type="hidden" />
                                                            </label>
                                                            <br />
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-warning" value="Submit">Filter</button>
                                        </div>

                                    </div>
                                    <!-- End Color/Colour -->
                                </div>
                            </div>
                        </div>
                        <!-- End Filter -->

                        <div class="col-md-9">
                            <div class="row">

                                <!-- Item Card -->
                                @foreach (var item in Model.ProductFilter)
                                {
                                    <div class="col-md-4" style="min-height: 600px;">

                                        <!-- Card -->
                                        <div class="card card-product card-plain no-shadow" data-colored-shadow="false" style="min-height: 550px;">
                                            <!-- Image -->
                                            <a asp-area="" asp-controller="Item" asp-action="Item" asp-route-id="@item.id_pr" style="display: block; overflow: hidden; height: 350px;" class="card-image">
                                                <img src="@Html.DisplayFor(modelItem => item.image)" alt="..." />
                                            </a>
                                            <!-- End Image -->
                                            <!-- Card Content -->
                                            <div class="card-content" style="position: absolute; bottom: 0; width: 100%;">

                                                <!-- Item Name -->
                                                <a asp-area="" asp-controller="Item" asp-action="Item" asp-route-id="@item.id_pr">
                                                    <h4 class="card-title" style="min-height: 50px;">@Html.DisplayFor(modelItem => item.name)</h4>
                                                </a>
                                                <!-- End Item Name -->
                                                <!-- Item Description -->
                                                <p class="description">
                                                    <b>@Html.DisplayFor(modelItem => item.firm)</b>
                                                </p>
                                                <!-- End Item Description -->
                                                <!-- Footer - price and favourite button -->
                                                <div class="footer">
                                                    <div class="price-container">
                                                        <span class="price">&euro; @Html.DisplayFor(modelItem => item.price)</span>
                                                    </div>

                                                    <button class="btn btn-warning btn-simple btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="Remove from wishlist" data-placement="left">
                                                        <i class="material-icons">favorite</i>
                                                    </button>
                                                </div>
                                                <!-- End Footer -->

                                            </div>
                                            <!-- End Card content -->

                                        </div>
                                        <!-- end card -->

                                    </div>
                                }

                                <!-- End Item Card -->
                            </div>

                            <!-- Pagination -->
                            <hr/>
                            <div class="pagination-area text-center">
                                <ul class="pagination pagination-warning">
                                    @for (int i = 1; i <= Model.page; i++)
                                    {
                                        @if (i == Model.CurrentPage)
                                        {
                                            <li class="active"  >
                                                <a>
                                                    <input class="page-element" type="submit" name="page" value="@i" />
                                                    <input type="hidden" name="SortFromHigh" value="@Model.SortHigh"/>
                                                    <input type="hidden" name="SortFromLow" value="@Model.SortLow" />
                                                    <input type="hidden" name="itemsPage" value="@Model.ItemsPerPage"/>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a>
                                                    <input class="page-element" type="submit" name="page" value="@i" />
                                                    <input type="hidden" name="SortFromHigh" value="@Model.SortHigh" />
                                                    <input type="hidden" name="SortFromLow" value="@Model.SortLow" />
                                                    <input type="hidden" name="itemsPage" value="@Model.ItemsPerPage" />
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <!-- End Pagination -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- End find what you need section -->
        </form>
    
    </div>
</div>