@model PernicekWeb.Models.OrderViewModels.OrderProduct
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap core CSS     -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!--  Material Dashboard CSS    -->
    <link href="~/css/material-dashboard.css" rel="stylesheet">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/wizard.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<!-- Next button won't work without form tags -->



<body>
    <nav class="navbar navbar-white navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/">Perníček</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Model.BackToPreviousPage">
                            <i class="material-icons">shopping_basket</i> Back to Shopping
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="wrapper wrapper-full-page" style="background-color: yellow;">
    <div class="full-page login-page" filter-color="red">
        <div class="content" style="padding-top: 15vh !important">
            <div class="container-fluid">
                <div class="col-md-10 col-md-offset-1">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="orange" id="wizardProfile">
                            <form asp-controller="Order" asp-action="Order" method="post">
                                <div class="wizard-header">
                                    <h3 class="wizard-title">
                                        Cash Out
                                    </h3>
                                    <h5>Complete your purchase.</h5>
                                </div>
                                <!-- Wizard Navigation -->
                                <div class="wizard-navigation">
                                    <ul class="nav nav-pills">
                                        <li style="width: 25%;" class="active">
                                            <a href="#shopping_bag" data-toggle="tab" aria-expanded="true">Shopping bag</a>
                                        </li>
                                        <li style="width: 25%;" class="">
                                            <a href="#shipping" data-toggle="tab" aria-expanded="false">Shipping</a>
                                        </li>
                                        <li style="width: 25%;" class="">
                                            <a href="#ship_address" data-toggle="tab" aria-expanded="false">Shipping Address</a>
                                        </li>
                                        <li style="width: 25%;" class="">
                                            <a href="#payment" data-toggle="tab" aria-expanded="false">Payment</a>
                                        </li>
                                    </ul>
                                    <div class="moving-tab" style="width: 336.661px; transform: translate3d(-8px, 0px, 0px); transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);">About</div>
                                </div>
                                <!-- End Wizard navigation -->
                                <!-- Wizard Content -->
                                <div class="tab-content">
                                    <!-- Shopping Bag -->
                                    <div class="tab-pane active" id="shopping_bag">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-shopping">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center"></th>
                                                                <th>Product</th>
                                                                <th class="th-description">Colour</th>
                                                                <th class="th-description text-center">Size</th>
                                                                <th class="text-center">Price</th>
                                                                <th class="text-center">Quantity</th>
                                                                <th class="text-center">Amount</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in Model.OrdProd)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <div class="img-container">
                                                                            <img src="@item.image" alt="...">
                                                                        </div>
                                                                    </td>
                                                                    <td class="td-name">
                                                                        <a asp-controller="Item" asp-action="Item" asp-route-id="@item.id_pr">@item.nameProduct</a>
                                                                        <br /><small>by @item.Firm</small>
                                                                    </td>
                                                                    <td class="td-name">
                                                                        @item.colour
                                                                    </td>
                                                                    <td class="text-center table-number">
                                                                        @item.size
                                                                    </td>
                                                                    <td class="text-center table-number">
                                                                        <small>&euro;</small>@item.Price
                                                                    <td class="text-center table-number">
                                                                        @item.quantity
                                                                        <div class="btn-group">
                                                                            <a class="btn btn-round btn-warning btn-xs" asp-controller="Order" asp-action="Remove" asp-route-id="@item.id_pr" asp-route-size="@item.id_si" asp-route-colour="@item.id_col">
                                                                                <i class="material-icons">remove</i>
                                                                            </a>
                                                                            <a class="btn btn-round btn-warning btn-xs" asp-controller="Order" asp-action="Add" asp-route-id="@item.id_pr" asp-route-size="@item.id_si" asp-route-colour="@item.id_col">
                                                                                <i class="material-icons">add</i>
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-center table-number">
                                                                        @item.amount
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn btn-simple" asp-controller="Order" asp-action="RemoveItem" asp-route-id="@item.id_pr" asp-route-size="@item.id_si" asp-route-colour="@item.id_col">
                                                                                <i class="material-icons">close</i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            }

                                                            <tr>
                                                                <td colspan="3"></td>
                                                                <td class="td-total">
                                                                    Total
                                                                </td>
                                                                <td class="td-price">
                                                                    <small>&euro;</small>@Model.OverallPrice
                                                                </td>
                                                                <td colspan="3" class="text-right"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Shopping Bag -->
                                    <!-- Shipping-->
                                    <div class="tab-pane" id="shipping">

                                        <h4 class="info-text"> How do you want us to send the package? </h4>
                                        <div class="row">

                                            <!-- Shippig inputs -->
                                            <div id="ShippingOptions">
                                                <input id="ShippingOption0" type="radio" name="ShippingOption" value="4">
                                                <input id="ShippingOption1" type="radio" name="ShippingOption" value="1">
                                                <input id="ShippingOption2" type="radio" name="ShippingOption" value="2">
                                                <input id="ShippingOption3" type="radio" name="ShippingOption" value="3">
                                            </div>
                                            <!-- End Shipping inputs -->
                                            <!-- Land -->
                                            <div class="col-md-3 col-sm-3">
                                                <div id="card-land" class="card card-pricing card-plain">
                                                    <div class="card-content">
                                                        <h6 class="category">By land</h6>
                                                        <div class="icon">
                                                            <i class="material-icons">local_shipping</i>
                                                        </div>
                                                        <h3 class="card-title">FREE</h3>
                                                        <p class="card-description">
                                                            This is good if your company size is between 2 and 10 Persons.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Land -->
                                            <!-- Sea -->
                                            <div class="col-md-3 col-sm-3">
                                                <div id="card-sea" class="card card-pricing card-plain">
                                                    <div class="card-content">
                                                        <h6 class="category">By sea</h6>
                                                        <div class="icon">
                                                            <i class="material-icons">directions_boat</i>
                                                        </div>
                                                        <h3 class="card-title">&euro; 29</h3>
                                                        <p class="card-description">
                                                            This is good if your company size is between 2 and 10 Persons.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Sea -->
                                            <!-- Air -->
                                            <div class="col-md-3 col-sm-3">
                                                <div id="card-air" class="card card-pricing card-plain">
                                                    <div class="card-content">
                                                        <h6 class="category">By air</h6>
                                                        <div class="icon">
                                                            <i class="material-icons">local_airport</i>
                                                        </div>
                                                        <h3 class="card-title">&euro; 69</h3>
                                                        <p class="card-description">
                                                            This is good if your company size is between 11 and 99 Persons.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Air -->
                                            <!-- Ultradimensional Transit -->
                                            <div class="col-md-3 col-sm-3">
                                                <div id="card-ultra" class="card card-pricing card-plain">
                                                    <div class="card-content">
                                                        <h6 class="category">Ultradimensional transit</h6>
                                                        <div class="icon">
                                                            <i class="fa fa-rocket"></i>
                                                        </div>
                                                        <h3 class="card-title">&euro; 159</h3>
                                                        <p class="card-description">
                                                            This is good if your company size is 99+ persons.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Ultradimensional Transit -->

                                        </div>
                                    </div>
                                    <!-- End Shipping-->
                                    <!-- Shipping Address -->
                                    
                                   
                                    <div class="tab-pane" id="ship_address">
                                                <div class="row">
                                                    <div class="container col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 text-center">
            
                                                        @if (ViewData["ExistAddress"] != null)
                                                        {
                                                            <h4 class="info-text"> Pick your shipping address <hr/></h4>
                                                                <div class="table-responsive">
                                                                    <table class="table">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="text-center"></td>
                                                                                <td>Street</td>
                                                                                <td>#</td>
                                                                                <td>City</td>
                                                                                <td class="text-right">Postal Code</td>
                                                                                <td class="text-right">Country</td>
                                                                            </tr>
                                                            @foreach (var item in Model.AddressCheck)
                                                            {
                                                                            <tr>
                                                                                <td class="text-center">
                                                                                    <div class="radio">
                                                                                        <label>
                                                                                            <input type="radio" name="AddressChoose" value="@item.id_ad" />
                                                                                        </label>
                                                                                    </div>
                                                                                </td>
                                                                                <td>@Html.DisplayFor(modelItem => item.street)</td>
                                                                                <td>@Html.DisplayFor(modelItem => item.house_number)</td>
                                                                                <td>@Html.DisplayFor(modelItem => item.city)</td>
                                                                                <td class="text-right">@Html.DisplayFor(modelItem => item.post_code)</td>
                                                                                <td class="text-right">
                                                                                    @Html.DisplayFor(modelItem => item.nameCountry)
                                                                                </td>
                                                                            </tr>
                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            <h4 class="info-text"><hr/> - Or - </h4>
                                                        } 
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="container col-sm-4 col-sm-offset-4">
                                                        <h4 class="info-text"> Tell us where you live </h4>
                                                        <div class="form-group label-floating">
                                                            <label asp-for="street" class="control-label">Street Name</label>
                                                            <input asp-for="street" type="text" class="form-control">
                                                            <span class="material-input"></span>
                                                        </div>
                                                        <div class="form-group label-floating">
                                                            <label asp-for="house_number" class="control-label">Street No.</label>
                                                            <input asp-for="house_number" type="text" class="form-control">
                                                            <span class="material-input"></span>
                                                        </div>
                                                        <div class="form-group label-floating">
                                                            <label asp-for="post_code" class="control-label">Postal Code</label>
                                                            <input asp-for="post_code" type="text" class="form-control">
                                                            <span class="material-input"></span>
                                                        </div>
                                                        <div class="form-group label-floating">
                                                            <label asp-for="city" class="control-label">City</label>
                                                            <input asp-for="city" type="text" class="form-control">
                                                            <span class="material-input"></span>
                                                        </div>
                                                        <!-- country -->
                                                        <div class="form-group label-floating is-empty">
                                                            <label class="control-label">Country</label>
                                                            <select name="Country" class="form-control">
                                                                <option disabled="" selected=""></option>
                                                                @foreach (var country in Model.Country)
                                                                {
                                                                    <option value="@country.code">@country.name</option>

                                                                }
                                                            </select>
                                                            <span class="material-input"></span>
                                                        </div>
                                                        <!-- country -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Shipping Address -->
                                            <!-- Payment -->
                                            <div class="tab-pane" id="payment">
                                                <h4 class="info-text"> How will you pay? </h4>
                                                <div class="row">
                                                    <div class="col-lg-10 col-lg-offset-1">

                                                        <!-- Cash -->
                                                        <div class="col-sm-3">
                                                            <div class="choice" data-toggle="wizard-radio">
                                                                <input type="radio" name="Payment" value="4">
                                                                <div class="icon">
                                                                    <i class="fa fa-money" aria-hidden="true"></i>
                                                                </div>
                                                                <h6>Cash</h6>
                                                            </div>
                                                        </div>
                                                        <!-- End Cash -->
                                                        <!-- Internet Cash -->
                                                        <div class="col-sm-3">
                                                            <div class="choice" data-toggle="wizard-radio">
                                                                <input type="radio" name="Payment" value="1">
                                                                <div class="icon">
                                                                    <i class="material-icons">credit_card</i>
                                                                </div>
                                                                <h6>Internet Cash</h6>
                                                            </div>
                                                        </div>
                                                        <!-- End Internet Cash -->
                                                        <!-- Crypto Cash -->
                                                        <div class="col-sm-3">
                                                            <div class="choice" data-toggle="wizard-radio">
                                                                <input type="radio" name="Payment" value="2">
                                                                <div class="icon">
                                                                    <i class="fa fa-btc" aria-hidden="true"></i>
                                                                </div>
                                                                <h6>Crypto Cash</h6>
                                                            </div>
                                                        </div>
                                                        <!-- End Crypto Cash -->
                                                        <!-- Human Soul -->
                                                        <div class="col-sm-3">
                                                            <div class="choice" data-toggle="wizard-radio">
                                                                <input type="radio" name="Payment" value="3">
                                                                <div class="icon">
                                                                    <i class="material-icons">whatshot</i>
                                                                </div>
                                                                <h6>Human Soul</h6>
                                                            </div>
                                                        </div>
                                                        <!-- End Human Soul -->

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Payment -->

                                        </div>
                                        <!-- End Wizard Content -->
                                        <!-- Wizard Footer -->
                                        <div class="wizard-footer">
                                            <div class="pull-right">
                                                <input type="button" class="btn btn-next btn-fill btn-warning btn-wd" name="next" value="Next" style="" />
                                                <input type="submit" class="btn btn-finish btn-fill btn-warning btn-wd" name="finish" value="Finish" style="display: none;" />
                                            </div>
                                            <div class="pull-left">
                                                <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous" />
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <!-- End Wizard Footer -->
</form>
                        </div>
                    </div>
                    <!-- End wizard container -->
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewData["EmptyPayment"] != null)
    {
        <input id="empty-payment" type="hidden" value="1"/><!-- Empty Payment -->
    }

@if (ViewData["EmptyPayment"] == null)
    {
        <input id="empty-payment" type="hidden" value="0"/><!-- Payment -->
    }

@if (ViewData["EmptyShipping"] != null)
    {
        <input id="empty-shipping" type="hidden" value="1"/><!-- Empty Shipping -->
    }

@if (ViewData["EmptyShipping"] == null)
    {
        <input id="empty-shipping" type="hidden" value="0"/><!-- Shipping -->
    }

@if (ViewData["EmptyAddress"] != null)
    {
        <input id="empty-address" type="hidden" value="1"/><!-- Empty Address -->
    }

@if (ViewData["EmptyAddress"] == null)
    {
        <input id="empty-address" type="hidden" value="0"/><!-- Address -->
    }

<!--   Core JS Files   -->
    <script src="~/js/dashboard/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="~/js/dashboard/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/dashboard/material.min.js" type="text/javascript"></script>
    <script src="~/js/dashboard/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/js/dashboard/jquery.validate.min.js"></script>

    <!--  Plugin for the Wizard -->
    <script src="~/js/dashboard/jquery.bootstrap-wizard.js"></script>

    <!--   Sharrre Library    -->
    <script src="~/js/dashboard/jquery.sharrre.js"></script>

    <!-- TagsInput Plugin -->
    <script src="~/js/dashboard/jquery.tagsinput.js"></script>

    <!-- Select Plugin -->
    <script src="~/js/dashboard/jquery.select-bootstrap.js"></script>

    <!-- Material Dashboard javascript methods -->
    <script src="~/js/dashboard/material-dashboard.js"></script>

    <!-- Sweet Alerts 2 -->
    <script src="~/js/dashboard/sweetalert2-dashboard.js"></script>
    <!-- Material Dashboard DEMO methods -->
    <script src="~/js/dashboard/demo.js"></script>

    <!-- Initializing Wizard -->
    <script type="text/javascript">
        $(document).ready(function () {
            demo.initMaterialWizard();
        });
    </script>

    <!-- Order Shipping Option -->
    <script type="text/javascript">
        $(document).ready(function () {
            function release_the_kraken() {
                $('#card-land, #card-sea, #card-air, #card-ultra').removeClass('card-plain');
                $('#card-land, #card-sea, #card-air, #card-ultra').removeClass('card-raised-color');
                $('#card-land, #card-sea, #card-air, #card-ultra').addClass('card-plain');
                $('#card-land, #card-sea, #card-air, #card-ultra').children('div.card-content').children().removeClass('picked-color');
                $('#card-land, #card-sea, #card-air, #card-ultra').children('div.card-content').children('h6').addClass('category');
            }
            function reset_shipping_inputs() {
                $("#ShippingOption0").prop('checked', false);
                $("#ShippingOption1").prop('checked', false);
                $("#ShippingOption2").prop('checked', false);
                $("#ShippingOption3").prop('checked', false);
            }
            function pick_land() {
                $("#ShippingOption0").prop('checked', true);
            }
            function pick_sea() {
                $("#ShippingOption1").prop('checked', true);
            }
            function pick_air() {
                $("#ShippingOption2").prop('checked', true);
            }
            function pick_ultra() {
                $("#ShippingOption3").prop('checked', true);
            }
            $("#card-land").click(function () {
                release_the_kraken();
                $('#card-land').toggleClass('card-plain');
                $('#card-land').toggleClass('card-raised-color');
                $('#card-land').children('div.card-content').children().toggleClass('picked-color');
                $('#card-land').children('div.card-content').children('h6').toggleClass('category');
                reset_shipping_inputs();
                pick_land();
            });
            $("#card-sea").click(function () {
                release_the_kraken();
                $('#card-sea').toggleClass('card-plain');
                $('#card-sea').toggleClass('card-raised-color');
                $('#card-sea').children('div.card-content').children().toggleClass('picked-color');
                $('#card-sea').children('div.card-content').children('h6').toggleClass('category');
                reset_shipping_inputs();
                pick_sea();
            });
            $("#card-air").click(function () {
                release_the_kraken();
                $('#card-air').toggleClass('card-plain');
                $('#card-air').toggleClass('card-raised-color');
                $('#card-air').children('div.card-content').children().toggleClass('picked-color');
                $('#card-air').children('div.card-content').children('h6').toggleClass('category');
                reset_shipping_inputs();
                pick_air();
            });
            $("#card-ultra").click(function () {
                release_the_kraken();
                $('#card-ultra').toggleClass('card-plain');
                $('#card-ultra').toggleClass('card-raised-color');
                $('#card-ultra').children('div.card-content').children().toggleClass('picked-color');
                $('#card-ultra').children('div.card-content').children('h6').toggleClass('category');
                reset_shipping_inputs();
                pick_ultra();
            });

        });
    </script>

    <!-- Warning popups -->
    <script type="text/javascript">
        var emptyPayment = $("#empty-payment").attr("value");
        var emptyShipment = $("#empty-shipping").attr("value");
        var emptyAddress = $("#empty-address").attr("value");
        if (emptyPayment == 1) {
                swal({
                    title: 'Error!',
                    text: 'You have not told us how you will pay.',
                    type: 'error',
                    confirmButtonText: 'ok',
                    buttonsStyling: false,
                    confirmButtonClass: 'btn btn-danger',
                }).then(function(){

                }, function(dismiss){
                    
                })
        }
        if (emptyShipment == 1) {
                swal({
                    title: 'Error!',
                    text: 'Pick your prefered shipping method.',
                    type: 'error',
                    confirmButtonText: 'ok',
                    buttonsStyling: false,
                    confirmButtonClass: 'btn btn-danger',
                }).then(function(){

                }, function(dismiss){
                    
                })
        }
        if (emptyAddress == 1) {
                swal({
                    title: 'Error!',
                    text: 'What is your shipping address?',
                    type: 'error',
                    confirmButtonText: 'ok',
                    buttonsStyling: false,
                    confirmButtonClass: 'btn btn-danger',
                }).then(function(){

                }, function(dismiss){

                })
        }
    </script>
</body>
</html>