@model OrderProduct

@{
    Layout = null;
    ViewData["Title"] = "Browse";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perníček - @ViewData["Title"]</title>

    <environment names="Development">
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
        <!-- CSS Files -->
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/sweetalert2.min.css" rel="stylesheet" />

        <!-- Material Design stylesheet -->
        <link href="~/css/material-kit.min.css?v=1.1.1" rel="stylesheet" />


        <!-- Custom Nav stylesheet -->
        <link href="~/css/vertical-nav.css" rel="stylesheet" />
        <link href="~/css/custom-vertical-nav.css" rel="stylesheet" />

        <!-- Custom stylesheet -->
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
    </environment>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" onclick="cancelOrder();">Perníček</a>
            </div>
            <div class=" collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right text-center">
                    <li>
                        <a class="btn btn-danger btn-round" onclick="cancelOrder();">
                            <i class="material-icons">cancel</i> Cancel Order
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Order" asp-action="Order" class="btn btn-warning btn-round">
                            <i class="material-icons">mode_edit</i> Edit Order
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-success btn-round" onclick="confirmOrder();">
                            <i class="material-icons">done</i> Confirm Order
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <form id="Summary-Form" asp-controller="Order" asp-action="FinishOrder" method="post">
    <div class="index-page">
        <!-- Header -->
        <div class="page-header header-custom header-filter" data-parallax="true" style="background-color: red;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="title">Summary</h1>
                        <h4>Complete your purchase.</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <!-- Content -->
        <div class="main main-raised" style="margin-bottom: 5%; padding-bottom: 5%;">
            <div class="container-fluid">
                <!-- Shipping and payment -->
                <div class="section">
                    <div class="row">

                        <!-- Shipping Address -->
                        <div class="col-md-4 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h2 class="title">Shipping Address</h2>
                                </div>
                            </div>
                                        <div class="form-group label-floating is-empty">
                                            <span>Street</span><span class="data">@Html.DisplayFor(modelItem => modelItem.street)</span>
                                        </div>
                                        <hr />
                                        <div class="form-group label-floating is-empty">
                                            <span>House Number</span><span class="data">@Html.DisplayFor(modelItem => modelItem.house_number)</span>
                                        </div>
                                        <hr />
                                        <div class="form-group label-floating is-empty">
                                            <span>City</span><span class="data">@Html.DisplayFor(modelItem => modelItem.city)</span>
                                        </div>
                                        <hr />
                                        <div class="form-group label-floating is-empty">
                                            <span>Country</span><span class="data">@Html.DisplayFor(model => model.nameCountry)</span>
                                        </div>
                                        <hr />
                                        <div class="form-group label-floating is-empty">
                                            <span>Postal Code</span><span class="data">@Html.DisplayFor(modelItem => modelItem.post_code)</span>
                                        </div>
                        </div>
                        <!-- End Shipping Address -->

                        <div class="col-md-4 col-md-offset-2">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h2 class="title">Shipping & Payment Option</h2>
                                </div>
                            </div>
                            <div class="row">

                                <!-- Shipping Option -->
                                <div id="land" class="col-md-6 shipping-option">
                                    <div class="card card-pricing card-plain">
                                        <h6 class="category">Shipping Option</h6>
                                        <div class="icon">
                                            <i class="material-icons">local_shipping</i>
                                        </div>
                                        <h6 class="category">By land</h6>
                                        <h3 class="card-title">FREE</h3>
                                    </div>
                                </div>
                                <div id="sea" class="col-md-6 shipping-option">
                                    <div class="card card-pricing card-plain">
                                        <h6 class="category">Shipping Option</h6>
                                        <div class="icon">
                                            <i class="material-icons">directions_boat</i>
                                        </div>
                                        <h6 class="category">By sea</h6>
                                        <h3 class="card-title">&euro; 29</h3>
                                    </div>
                                </div>
                                <div id="air" class="col-md-6 shipping-option">
                                    <div class="card card-pricing card-plain">
                                        <h6 class="category">Shipping Option</h6>
                                        <div class="icon">
                                            <i class="material-icons">local_airport</i>
                                        </div>
                                        <h6 class="category">By air</h6>
                                        <h3 class="card-title">&euro; 69</h3>
                                    </div>
                                </div>
                                <div id="ultra" class="col-md-6 shipping-option">
                                    <div class="card card-pricing card-plain">
                                        <h6 class="category">Shipping Option</h6>
                                        <div class="icon">
                                            <i class="fa fa-rocket"></i>
                                        </div>
                                        <h6 class="category">Ultradimensional transit</h6>
                                        <h3 class="card-title">&euro; 159</h3>
                                    </div>
                                </div>
                                <input id="shipping-value" type="hidden" value="@Model.ShippingOptionNumber"/>
                                <!-- End Shipping Option -->

                                <!-- Payment Option -->
                                <div id="cash-option" class="col-md-6 summary-option payment-option">
                                    <div class="card card-pricing card-plain">
                                        <h6 class="category">Payment Option</h6>
                                        <div class="icon">
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                        </div>
                                        <h3 class="card-title">Cash</h3>
                                    </div>
                                </div>
                                <div id="internet-option" class="col-md-6 summary-option payment-option">
                                    <div class="card card-pricing card-plain">
                                        <h6 class="category">Payment Option</h6>
                                        <div class="icon">
                                            <i class="material-icons">credit_card</i>
                                        </div>
                                        <h3 class="card-title">Internet Cash</h3>
                                    </div>
                                </div>
                                <div id="crypto-option" class="col-md-6 summary-option payment-option">
                                    <div class="card card-pricing card-plain">
                                        <h6 class="category">Payment Option</h6>
                                        <div class="icon">
                                            <i class="fa fa-btc" aria-hidden="true"></i>
                                        </div>
                                        <h3 class="card-title">Crypto Cash</h3>
                                    </div>
                                </div>
                                <div id="soul-option" class="col-md-6 summary-option payment-option">
                                    <div class="card card-pricing card-plain">
                                        <h6 class="category">Payment Option</h6>
                                        <div class="icon">
                                            <i class="material-icons">whatshot</i>
                                        </div>
                                        <h3 class="card-title">Human Soul</h3>
                                    </div>
                                </div>
                                <input id="payment-value" type="hidden" value="@Model.PaymentMethodNumber"/>
                                <!-- End Payment Option -->

                            </div>
                        </div>
                    </div>

                </div>
                <!-- End Shipping and payment -->

                <!-- Shopping Bag -->
                <div class="section">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="title">Shopping Bag</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="table-responsive">
                                        <table class="table table-shopping">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center"></th>
                                                        <th>Product</th>
                                                        <th class="th-description">Color</th>
                                                        <th class="th-description">Size</th>
                                                        <th class="text-center">Price</th>
                                                        <th class="text-center">Quantity</th>
                                                        <th class="text-center">Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                @foreach (var item in Model.OrdProd) {
                                                    <tr>
                                                        <td>
                                                            <div class="img-container">
                                                                <img src="@Html.DisplayFor(modelItem => item.image)" alt="...">
                                                            </div>
                                                        </td>
                                                        <td class="td-name">
                                                            <a href="#item_url">@Html.DisplayFor(modelItem => item.nameProduct)</a>
                                                            <br />
                                                            <small>@Html.DisplayFor(modelItem => item.Firm)</small>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.colour)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.size)
                                                        </td>
                                                        <td class="table-number text-center">
                                                            <small>&euro; </small>@Html.DisplayFor(modelItem => item.Price)
                                                        </td>
                                                        <td class="table-number text-center">
                                                            @Html.DisplayFor(modelItem => item.quantity)
                                                        </td>
                                                        <td class="table-number text-center">
                                                            <small>&euro;</small> @Html.DisplayFor(modelItem => item.amount)
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td></td>
                                                    <td class="td-total">
                                                        Total Item Price
                                                    </td>
                                                    <td class="td-price">
                                                        <small>&euro; </small>@Model.OverallPrice
                                                    </td>
                                                    <td class="td-total">
                                                        Shipment Price
                                                    </td>
                                                    <td class="td-price">
                                                        <small>&euro; </small> @Model.ShippingPrice
                                                    </td>
                                                    <td class="td-total table-number">
                                                        Total Overall
                                                    </td>
                                                    <td class="td-price">
                                                        <small>&euro; </small>@Model.OverallPriceWithShipping
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                        </div>
                    </div>
                </div>
                <!-- End Shopping Bag -->

                <!-- Confirm, Edit or Cancel -->
                <div class="section">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a data-toggle="modal" data-target="#terms-agreement">By confirming order you agree to terms and agreement.</a>
                            <br/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                                <a class="btn btn-lg btn-danger" onclick="cancelOrder();">
                                    <i class="material-icons">cancel</i> Cancel Order
                                </a>
                                <a asp-controller="Order" asp-action="Order" class="btn btn-warning btn-lg">
                                    <i class="material-icons">mode_edit</i> Edit Order
                                </a>
                                <a  class="btn btn-lg btn-success" onclick="confirmOrder();">
                                    <i class="material-icons">done</i> Confirm Order
                                </a>
                        </div>
                    </div>
                </div>
                <!-- End Confirm, Edit or Cancel -->

            </div>
        </div>
    <!-- End Content -->

    </div>
        <input type="hidden" asp-for="@Model.id_ad" />
        <input type="hidden" asp-for="@Model.street" />
        <input type="hidden" asp-for="@Model.house_number" />
        <input type="hidden" asp-for="@Model.city" />
        <input type="hidden" asp-for="@Model.post_code" />
        <input type="hidden" asp-for="@Model.ShippingOption" />
        <input type="hidden" asp-for="@Model.Payment" />
        <input type="hidden" asp-for="@Model.codeCountry" />
        <input type="hidden" asp-for="@Model.OverallPrice" />
    </form>

   <!-- Terms and Agreement -->
   <div class="modal fade" id="terms-agreement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top: 10%;">
        <div class="card card-signup custom-box-shadow">
            <div class="header text-center custom-header custom-modal-header">
                <i class="material-icons">account_balance</i>
            </div>
            <h3 class="text-center custom-modal-h">Terms & Agreement</h3>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
            <p>
                General
            </p>

<p>The present Terms and Conditions of Sale ("Terms and Conditions") apply to all sales of products made to you (the "Customer") in the countries listed here on the website www.Pernicek.com (the "Site"), operated by Pernicek s.r.o., IČ 27082440, DIČ CZ27082440, U Pergamentky 2, 112 00 Prague (Czechia), telephone number: +42012345678, company’s registration number CH-012.12.48.64 ("Pernicek"). This Terms and Conditions supersede any prior terms and conditions or any general or specific terms and conditions of the Customer. Every product order placed on the Site, presupposes the prior consultation and the acceptance by the Customer of the Terms and Conditions.</p>

<p>The protection of the Customer's personal data is subject to our separate privacy policy which can be found here. In addition, the general use of the Site is subject to Terms of Use.
Withdrawal - Returns</p>

    <p>Withdrawal<p/>

    <p>The Customer has the right to inform the supplier of his right to retract the sale, without payment of any fine and without giving a motive, within 14 calendar days from the day following the delivery date of the product or the signing of the services agreement.

    The Customer's right of retraction does not exist for personalized items.

    If the Customer decides to cancel the sale, the Customer must use the Pernicek contact form and select the subject heading "Order & delivery". An acknowledgment of receipt will be sent to the Customer. The Customer shall return item days without undue delay and in any event not later than 14 days from the day on which he has communicated his decision to withdraw from the contract to Pernicek.

    Pernicek will reimburse all payments received from the Customer, including, if applicable, the costs of delivery, within fourteen (14) days from the day on which Pernicek is informed of the Customer's decision to withdraw from the contract. However Pernicek may withhold the reimbursement until Pernicek has received the product back or until the Customer has supplied evidence of having sent back the goods, whichever is the earliest.

    Pernicek will carry out the reimbursement using the same means of payment as the Customer used for the initial transaction,

    Pernicek will not be required to reimburse the supplementary costs, if the Customer has expressly opted for a type of delivery other than the least expensive type of standard delivery offered by Pernicek.
    Return of non-conforming products

    Pernicek will reimburse or exchange any defective, damaged during the transport or non-conforming product. In such case, the Customer will promptly inform Pernicek through its’ contact form and select the subject heading "Order & delivery".
    <p/>
<p>    
    Ordering process
<p/>

<p>
The ordering process on the Site consists of following steps:
<p/>

    <p>
    The Customer adds the selected products in the basket;
    The Customer completes his/her personal details including name and billing address;
    The Customer confirms the preferred shipping method and provides the delivery address;
    The Customer confirms the payment method and completes the required payment information;
    The Customer will be asked to accept the Terms and Conditions;
    Before the Customer submits the order, he/she will be given the opportunity to review his/her details, the selection and check the total price of the order including the shipping charges. In case the Customer needs to correct/adapt this information, he can simply go back to the relevant section and correct the necessary information.
    <p/>

<p>
After submitting the order, Pernicek will send the Customer an e-mail confirming receipt of the order.
Acceptance of orders
<p/>

<p>
To the maximum extent allowed under applicable law, all quotes or proposals are without engagement and without any obligation on Pernicek's part. Any order made by the Customer via the Site shall always be confirmed by Pernicek by e-mail. The sales agreement is only entered into after Pernicek has confirmed the order placed via e-mail.
Prices
<p/>

<p>
The price of the products the Customer orders on the Site is the price that is displayed on the Site at the time the Customer confirms the order as mentioned in the confirmation e-mail sent to the Customer.
<p/>

<p>
    For Customers within the European Union

    All prices are in Euros, inclusive of VAT and exclusive of forwarding charges.

    For Customers outside the European Union

    All prices are in Euros, VAT excluded and exclusive of forwarding charges. The Customers should be aware that they may have to pay extra charges upon reception of the parcel. For example, these extra charges could be duties taxes or other official charges payable upon importation.
<p/>

<p>
The tariffs and calculation of the forwarding charges can be consulted at http://www.Pernicek.com/en/content/13-shipping-cost. All other applicable taxes, duties, levies or charges arising between the moment of the order of the product and the moment of delivery shall be borne by the Customer.
<p/>
<p>Invoicing and Payment<p/>

<p>
Once the sale has been confirmed by Pernicek by e-mail, Pernicek will send the Customer an invoice by e-mail or at the latest upon delivery.
<p/>

<p>
The payment modalities we accept are mentioned on the Site. Payments must be made in Euros and only by using the accepted payment modalities. The bank account of the Customer will be debited from the next working day (or up to 2 to 5 working days depending on the Customer’s bank) following the order.
<p/>

<p>
Delivery, Title and Risk
<p/>

<p>
Deliveries will be made in Normal Delivery and Express Delivery only.
<p/>

<p>
Unless otherwise provided in the email confirmation, the delivery of the product(s) will occur within 5 to 7 working days following the confirmation sent to the Customer for Normal Delivery and within 2 working days for Express Delivery.
The risk of loss, theft and whole or partial destruction of the products will be transferred to the Customer as soon as the product is delivered. The ownership of the products shall not pass to the Customer and full legal and beneficial ownership of the products shall remain with Pernicek unless and until Pernicek has received payment in full for the products, including all secondary costs due such as forwarding charges, interest, charges, expenses and other costs.
<p/>

<p>
Pernicek will use reasonable efforts to deliver the products ordered within the timescales indicated on the Site or on the confirmation e-mail sent to the Customer. These delivery timescales are estimates; they are not guaranteed delivery times. The Customer shall be exclusively liable for erroneously communicated delivery addresses. Where an order cannot be delivered on the address indicated by the Customer, Pernicek reserves the right to immediately and automatically terminate the agreement, without prejudice to any other rights and remedies Pernicek may have. In such event, Pernicek will inform the Customer of the termination of the agreement in writing or by e-mail.
<p/>

<p>
Without prejudice to Force Majeure, we apply a maximum delivery time of thirty (30) days as from the day following the day upon which the Customer has sent the relevant order to Pernicek. If the scheduled delivery date has been exceeded due to Pernicek's fault, the Customer has the right, without judicial intervention and upon simple notice, to cancel the order free of charge, to the extent Pernicek has not yet sent the ordered products to the Customer at that moment. In case of such cancellation, Pernicek will refund the amounts already paid to the Customer within thirty (30) days.
<p/>

<p>
Age requirements
<p/>

<p>
By ordering products on the Site, the Customer declares that he/she is an adult aged 18 or over or that he/she has obtained the explicit consent of his/her parents/legal guardians in case he/she has not yet reached the age of 18.
<p/>
<p>
Liability and Complaints
<p/>

<p>
Pernicek shall not be liable for any indirect damages (including but not limited to loss of time, emotional damage, reputational damage, loss of revenue, loss of profit or loss of an opportunity).
<p/>

<p>
All complaints must be notified through our contact form within seven (7) business days as from the delivery of the products. If the complaint is found to be justified, Pernicek's liability shall be limited to the reparation of or the exchanging of the delivered products.
<p/>

<p>
Both Pernicek's contractual and tortious liability shall in no event exceed the amount of the relevant order placed on the Site.
<p/>

<p>
Nothing in these Terms and Conditions shall exclude Pernicek's liability for fraud, willful misconduct, gross negligence, death or physical harm.
<p/>

<p>
Force Majeure
<p/>

<p>
Pernicek shall not be liable in case of Force Majeure (i.e. all situations under which it is very difficult for Pernicek to comply with its obligations under the sales agreement, including but not limited to disaster, fire, flood, earthquake, elements of nature, acts of God, actual or threatened terrorist attacks, acts of war, sabotage, explosion, riots, civil disorders, rebellions, revolutions and strikes, lockouts or labor disputes, government acts, accident or breakdown of plant or machinery, bugs in third party software, shortage of materials, failure by a utility provider (including electricity, gas, network or telecom provider) to provide services and any actions or omissions of third parties beyond its reasonable control).
<p/>

<p>
After Sales Support and warranty
<p/>

<p>
For any after sales support and questions the Customer can contact our customer service through our contact form by selecting the subject heading Repair & Info. The products are covered by a legal war ranty of conformity.
<p/>

<p>
Archiving of sales history
<p/>

<p>
For your convenience, we will archive your sales history, which you can consult at any time on the Site using your login details.
<p/>

<p>
Applicable law
<p/>

<p>
The Terms and Conditions are governed by, and construed in accordance with, the laws of Switzerland, without reference to the conflict of law rules.
<p/>
<br/>
</div>
</div>
        </div>
    </div>
</div>
   <!-- End Terms and Agreement -->

    <!-- Footer -->
        <footer class="footer footer-black">
            <div class="container">
                <a class="footer-brand" href="#pablo">Perníček</a>


                <ul class="pull-center">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>

                <ul class="social-buttons pull-right">
                    <li>
                        <a href="#twitter" target="_blank" class="btn btn-just-icon btn-simple">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#facebook" target="_blank" class="btn btn-just-icon btn-simple">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#instagram" target="_blank" class="btn btn-just-icon btn-simple">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <hr />
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script> - Perníček, made with <i class="material-icons">favorite</i> by <a asp-area="" asp-controller="Home" asp-action="About">Group 1</a>.
                </div>
            </div>
        </footer>
    <!-- End Footer -->

    <!--   Core JS Files   -->
            <script src="~/js/jquery.min.js" type="text/javascript"></script>
            <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="~/js/material.min.js" type="text/javascript"></script>

            <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
            <script src="~/js/moment.min.js"></script>

            <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
            <script src="~/js/nouislider.min.js" type="text/javascript"></script>

            <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
            <script src="~/js/bootstrap-datetimepicker.js" type="text/javascript"></script>

            <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
            <script src="~/js/bootstrap-selectpicker.js" type="text/javascript"></script>

            <!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
            <script src="~/js/bootstrap-tagsinput.js"></script>

            <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
            <!-- <script src="~/js/jasny-bootstrap.min.js"></script> -->

            <!--	Plugin for Product Gallery, full documentation here: https://9bitstudios.github.io/flexisel/ -->
            <script src="~/js/jquery.flexisel.js"></script>

            <!--    Plugin for 3D images animation effect, full documentation here: https://github.com/drewwilson/atvImg    -->
            <script src="~/js/atv-img-animation.js" type="text/javascript"></script>

            <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
            <script src="~/js/material-kit.min.js?v=1.1.1" type="text/javascript"></script>

            <!-- Fixed Sidebar Nav -->
            <script src="~/js/modernizr.js" type="text/javascript"></script>
            <script src="~/js/vertical-nav.js" type="text/javascript"></script>

            <!-- SweetAlert2 -->
            <script src="~/js/sweetalert2.min.js" type="text/javascript"></script>

            <!-- Shipping Options -->
            <script type="text/javascript">
                    var shippingValue = $("#shipping-value").attr("value");
                    var paymentValue = $("#payment-value").attr("value");

                    if (shippingValue == 1) {
                        $("#sea").css("display", "block");
                    }
                    if (shippingValue == 2) {
                        $("#air").css("display", "block");
                    }
                    if (shippingValue == 3) {
                        $("#ultra").css("display", "block");
                    }
                    if (shippingValue == 4) {
                        $("#land").css("display", "block");
                    }

                    if (paymentValue == 1) {
                        $("#internet-option").css("display", "block");
                    }
                    if (paymentValue == 2) {
                        $("#crypto-option").css("display", "block");
                    }
                    if (paymentValue == 3) {
                        $("#soul-option").css("display", "block");
                    }
                    if (paymentValue == 4) {
                        $("#cash-option").css("display", "block");
                    }
            </script>
            <!-- SweetAlert popups-->
            <script type="text/javascript">
                function cancelOrder() {
                        swal({
                            title: 'Warning!',
                            text: 'Are you sure, you want to cancel your order?',
                            type: 'warning',
                            confirmButtonText: 'Yes, I want to cancel',
                            showCancelButton: true,
                            cancelButtonText: 'Nah.',
                            buttonsStyling: false,
                            confirmButtonClass: 'btn btn-danger',
                            cancelButtonClass: 'btn btn-default',
                        }).then(function () {
                            /* redirect to main page */
                            console.info('CancelOrder success!');
                            window.location.href = "/Home";
                        }, function(dismiss){
                            console.info('CancelOrder canceled');
                            /* Cancels Action */
                        })
                    };
                function confirmOrder() {
                    document.getElementById("Summary-Form").submit();
                    /*
                        swal({
                            title: 'Are you sure?',
                            type: 'info',
                            confirmButtonText: '<i class="material-icons">done</i> Yes!',
                            showCancelButton: true,
                            cancelButtonText: '<i class="material-icons">close</i> Nah.',
                            buttonsStyling: false,
                            confirmButtonClass: 'btn btn-success',
                            cancelButtonClass: 'btn btn-default',
                        }).then(function () {
                            swal({
                                title: 'Success!',
                                text: 'Your order has been sent!',
                                type: 'success',
                                confirmButtonText: 'Thanks!',
                                buttonsStyling: false,
                                confirmButtonClass: 'btn btn-success',
                            }).then(function (){
                                console.info('Thanks registered!');
                                document.getElementById("Summary-Form").submit();
                            }, function(dismiss){
                                console.info('Not being greatful.');
                                document.getElementById("Summary-Form").submit();
                            })
                        }, function(dismiss){
                            console.info('confirmOrder canceled');
                        })*/
                    };
            </script>

    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
    </environment>
</body>
</html>

@*

General

The present Terms and Conditions of Sale ("Terms and Conditions") apply to all sales of products made to you (the "Customer") in the countries listed here on the website www.Pernicek.com (the "Site"), operated by Pernicek s.r.o., IČ 27082440, DIČ CZ27082440, U Pergamentky 2, 112 00 Prague (Czechia), telephone number: +42012345678, company’s registration number CH-012.12.48.64 ("Pernicek"). This Terms and Conditions supersede any prior terms and conditions or any general or specific terms and conditions of the Customer. Every product order placed on the Site, presupposes the prior consultation and the acceptance by the Customer of the Terms and Conditions.

The protection of the Customer's personal data is subject to our separate privacy policy which can be found here. In addition, the general use of the Site is subject to Terms of Use.
Withdrawal - Returns

    Withdrawal

    The Customer has the right to inform the supplier of his right to retract the sale, without payment of any fine and without giving a motive, within 14 calendar days from the day following the delivery date of the product or the signing of the services agreement.

    The Customer's right of retraction does not exist for personalized items.

    If the Customer decides to cancel the sale, the Customer must use the Pernicek contact form and select the subject heading "Order & delivery". An acknowledgment of receipt will be sent to the Customer. The Customer shall return item days without undue delay and in any event not later than 14 days from the day on which he has communicated his decision to withdraw from the contract to Pernicek.

    Pernicek will reimburse all payments received from the Customer, including, if applicable, the costs of delivery, within fourteen (14) days from the day on which Pernicek is informed of the Customer's decision to withdraw from the contract. However Pernicek may withhold the reimbursement until Pernicek has received the product back or until the Customer has supplied evidence of having sent back the goods, whichever is the earliest.

    Pernicek will carry out the reimbursement using the same means of payment as the Customer used for the initial transaction,

    Pernicek will not be required to reimburse the supplementary costs, if the Customer has expressly opted for a type of delivery other than the least expensive type of standard delivery offered by Pernicek.
    Return of non-conforming products

    Pernicek will reimburse or exchange any defective, damaged during the transport or non-conforming product. In such case, the Customer will promptly inform Pernicek through its’ contact form and select the subject heading "Order & delivery".

Ordering process

The ordering process on the Site consists of following steps:

    The Customer adds the selected products in the basket;
    The Customer completes his/her personal details including name and billing address;
    The Customer confirms the preferred shipping method and provides the delivery address;
    The Customer confirms the payment method and completes the required payment information;
    The Customer will be asked to accept the Terms and Conditions;
    Before the Customer submits the order, he/she will be given the opportunity to review his/her details, the selection and check the total price of the order including the shipping charges. In case the Customer needs to correct/adapt this information, he can simply go back to the relevant section and correct the necessary information.


After submitting the order, Pernicek will send the Customer an e-mail confirming receipt of the order.
Acceptance of orders

To the maximum extent allowed under applicable law, all quotes or proposals are without engagement and without any obligation on Pernicek's part. Any order made by the Customer via the Site shall always be confirmed by Pernicek by e-mail. The sales agreement is only entered into after Pernicek has confirmed the order placed via e-mail.
Prices

The price of the products the Customer orders on the Site is the price that is displayed on the Site at the time the Customer confirms the order as mentioned in the confirmation e-mail sent to the Customer.

    For Customers within the European Union

    All prices are in Euros, inclusive of VAT and exclusive of forwarding charges.

    For Customers outside the European Union

    All prices are in Euros, VAT excluded and exclusive of forwarding charges. The Customers should be aware that they may have to pay extra charges upon reception of the parcel. For example, these extra charges could be duties taxes or other official charges payable upon importation.


The tariffs and calculation of the forwarding charges can be consulted at http://www.Pernicek.com/en/content/13-shipping-cost. All other applicable taxes, duties, levies or charges arising between the moment of the order of the product and the moment of delivery shall be borne by the Customer.
Invoicing and Payment

Once the sale has been confirmed by Pernicek by e-mail, Pernicek will send the Customer an invoice by e-mail or at the latest upon delivery.

The payment modalities we accept are mentioned on the Site. Payments must be made in Euros and only by using the accepted payment modalities. The bank account of the Customer will be debited from the next working day (or up to 2 to 5 working days depending on the Customer’s bank) following the order.
Delivery, Title and Risk

Deliveries will be made in Normal Delivery and Express Delivery only.
Unless otherwise provided in the email confirmation, the delivery of the product(s) will occur within 5 to 7 working days following the confirmation sent to the Customer for Normal Delivery and within 2 working days for Express Delivery.
The risk of loss, theft and whole or partial destruction of the products will be transferred to the Customer as soon as the product is delivered. The ownership of the products shall not pass to the Customer and full legal and beneficial ownership of the products shall remain with Pernicek unless and until Pernicek has received payment in full for the products, including all secondary costs due such as forwarding charges, interest, charges, expenses and other costs.

Pernicek will use reasonable efforts to deliver the products ordered within the timescales indicated on the Site or on the confirmation e-mail sent to the Customer. These delivery timescales are estimates; they are not guaranteed delivery times. The Customer shall be exclusively liable for erroneously communicated delivery addresses. Where an order cannot be delivered on the address indicated by the Customer, Pernicek reserves the right to immediately and automatically terminate the agreement, without prejudice to any other rights and remedies Pernicek may have. In such event, Pernicek will inform the Customer of the termination of the agreement in writing or by e-mail.

Without prejudice to Force Majeure, we apply a maximum delivery time of thirty (30) days as from the day following the day upon which the Customer has sent the relevant order to Pernicek. If the scheduled delivery date has been exceeded due to Pernicek's fault, the Customer has the right, without judicial intervention and upon simple notice, to cancel the order free of charge, to the extent Pernicek has not yet sent the ordered products to the Customer at that moment. In case of such cancellation, Pernicek will refund the amounts already paid to the Customer within thirty (30) days.
Age requirements

By ordering products on the Site, the Customer declares that he/she is an adult aged 18 or over or that he/she has obtained the explicit consent of his/her parents/legal guardians in case he/she has not yet reached the age of 18.
Liability and Complaints

Pernicek shall not be liable for any indirect damages (including but not limited to loss of time, emotional damage, reputational damage, loss of revenue, loss of profit or loss of an opportunity).

All complaints must be notified through our contact form within seven (7) business days as from the delivery of the products. If the complaint is found to be justified, Pernicek's liability shall be limited to the reparation of or the exchanging of the delivered products.

Both Pernicek's contractual and tortious liability shall in no event exceed the amount of the relevant order placed on the Site.

Nothing in these Terms and Conditions shall exclude Pernicek's liability for fraud, willful misconduct, gross negligence, death or physical harm.
Force Majeure

Pernicek shall not be liable in case of Force Majeure (i.e. all situations under which it is very difficult for Pernicek to comply with its obligations under the sales agreement, including but not limited to disaster, fire, flood, earthquake, elements of nature, acts of God, actual or threatened terrorist attacks, acts of war, sabotage, explosion, riots, civil disorders, rebellions, revolutions and strikes, lockouts or labor disputes, government acts, accident or breakdown of plant or machinery, bugs in third party software, shortage of materials, failure by a utility provider (including electricity, gas, network or telecom provider) to provide services and any actions or omissions of third parties beyond its reasonable control).
After Sales Support and warranty

For any after sales support and questions the Customer can contact our customer service through our contact form by selecting the subject heading Repair & Info. The products are covered by a legal war ranty of conformity.
Archiving of sales history

For your convenience, we will archive your sales history, which you can consult at any time on the Site using your login details.
Applicable law

The Terms and Conditions are governed by, and construed in accordance with, the laws of Switzerland, without reference to the conflict of law rules.

 *@