@using PernicekWeb.Controllers
@{
    ViewData["Title"] = "Cart";
}

<h2>Cart</h2>
@foreach (Item item in (List<Item>)ViewData["cart"])
{
    <tr>
        <td>@item.P.id_pr</td>
        <td>@item.P.name</td>
        <td>@item.P.price</td>
        <td>@item.Quantity</td>
        <td>@(item.P.price * item.Quantity</td>
    </tr>

}
