@model Catalog.Business.FilterProduct

@{
    ViewData["Title"] = "Index";
}

<h1>Filter</h1>
<h1>Filter</h1>



<tbody>
    <tr>
        <td>
            <div class="container">
                    @using (Html.BeginForm("Category", "Playground"))
                    {
                        @foreach (var item in Model.Colours)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="Colours"
                                           value="@item.rgb" /> @item.name
                                    </label>
                                </div>
                        }
                    
                            
                                foreach (var item in Model.Firms)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   name="Firms"
                                                   value="@item.id_fir" /> @item.name
                                            </label>
                                        </div>
                                }
                            
                            @foreach (var item in Model.Sizes)
                            {
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"
                                               name="Sizes"
                                               value="@item.id_si" /> UK @item.uk - US @item.us_wo - EU @item.euro
                                        </label>
                                    </div>
                            }
                        

                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                        }
                </div>
        </td>
    </tr>
</tbody>

    <table class="table">
        <tbody>

           
                @foreach (var item in Model.ProductFilter)
            {
                    
                        <tr>
                            <td>
                                <a asp-controller="Item" asp-action="Index" asp-route-id=@item.id_pr>@Html.DisplayFor(modelItem => item.name)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.firm)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td>
                                <img src="@item.image" alt="Pic" />

                            </td>
                        </tr>
                    
                }
                   


</tbody>
    </table>
