@model Product

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <tbody>
     
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.colour)
                </td>
            </tr>
        
        
    </tbody>
</table>